*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
appIos/appIos.xcodeproj/project.xcworkspace/xcuserdata
appIos/appIos.xcodeproj/xcuserdata
appIos/appIos.xcworkspace/xcuserdata
appIos/feed/feed.xcodeproj/xcuserdata
appIos/post/post.xcodeproj/xcuserdata
appIos/common-swiftui/common-swiftui.xcodeproj/xcuserdata
appIos/common-design/common-design.xcodeproj/xcuserdata
appIos/common-swiftui-test/common-swiftui-test.xcodeproj/xcuserdata
appIos/feed-test-fixtures/feed-test-fixtures.xcodeproj/xcuserdata
appIos/post-test-fixtures/post-test-fixtures.xcodeproj/xcuserdata
