*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
build
/captures
.externalNativeBuild
.cxx
local.properties
secrets.properties
google-services.json
GoogleService-Info.plist
.kotlin
ios/.build
*.xcworkspace
Info.plist
*.pbxproj
*.xcodeproj
Derived/
