*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
build
/captures
.externalNativeBuild
.cxx
local.properties
ios/app.xcodeproj/project.xcworkspace/xcuserdata
ios/app.xcodeproj/xcuserdata
ios/app.xcworkspace/xcuserdata
ios/feed/feed.xcodeproj/xcuserdata
ios/post/post.xcodeproj/xcuserdata
ios/common-swiftui/common-swiftui.xcodeproj/xcuserdata
ios/common-design/common-design.xcodeproj/xcuserdata
ios/common-swiftui-test/common-swiftui-test.xcodeproj/xcuserdata
ios/feed-test-fixtures/feed-test-fixtures.xcodeproj/xcuserdata
ios/post-test-fixtures/post-test-fixtures.xcodeproj/xcuserdata
secrets.properties
google-services.json
GoogleService-Info.plist
