<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gchristov.newsfeed.android.common.composetest">

    <application>
        <activity
            android:name=".ComposeTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoAppBars" />
    </application>
</manifest>
