ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
CODE_SIGN_STYLE=Automatic
DEVELOPMENT_TEAM=5G893F5HW7
ENABLE_PREVIEWS=YES
FRAMEWORK_SEARCH_PATHS=$(SRCROOT)/../multiplatform/umbrella/build/xcode-frameworks/$(CONFIGURATION)/$(SDK_NAME)
INFOPLIST_FILE=app/Info.plist
IPHONEOS_DEPLOYMENT_TARGET=15.0
OTHER_LDFLAGS=
PRODUCT_BUNDLE_IDENTIFIER=com.gchristov.newsfeed
PRODUCT_NAME=$(TARGET_NAME)
SUPPORTED_PLATFORMS=iphoneos iphonesimulator
SUPPORTS_MACCATALYST=NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD=NO
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD=NO
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1

LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/Frameworks